# Jordan Justen : this file is public domain

TAGS.mesa
bak/
dri-wiki/
dri2proto/
dri3proto/
drm-intel/
drm/
fips/
glaze/
glenv/
glproto/
glu3/
libepoxy/
libxcb/
libxkbcommon/
macros/
mesa-demos/
mesa/
ministat/
pfx/
piglit/
randrproto/
results/
shader-db/
tasks/
tmp/
waffle/
wayland/
weston/
x11proto/
xcb-proto/
xf86-video-intel/
xkeyboard-config/
xorg-xserver/
xorg/
xrandr/

